:root {
    --primary-color: #e3eaa7;
    --secondary-color: #b5e7a0;
    --tertiary-color: #c1946a;
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}


nav {
    height: 120px;
    position: fixed;
    width: 100vw;
    background-size: cover;
    z-index: 2;
}


nav h1 {
    margin: 0;
    padding: 20px;
    font-size: 34px;
    font-weight: 400;
}
  
nav h1 a {
    text-decoration: none;
    color: var(--primary-color);
}
  
nav ul {
    position: absolute;
    right: 120px;
    top: 30px;
}
  
nav ul li {
    list-style-type: none;
    display: inline;
    padding: 25px;
}
  
nav ul li a {
    font-size: 20px;
    font-weight: 1.2rem;
    color: var(--tertiary-color);
}
  
nav ul li a:hover {
    color: var(--secondary-color);
}

.hero {
    background-image: url(./images/Pixels.jpg);
    background-size: cover;
    z-index: -1;
    height: 100vh;
}

.about {
    height: 50vh;
    background-color: var(--primary-color);
    text-align: center;
}

.about img {
    width: 250px;
}

.projects {
    height: 320vh;
    background-color: var(--secondary-color);
}

.projects p {
    text-align: center;
}

.projects img {
    width: 600px;
    height: auto;
    border: 2px solid var(--tertiary-color);
    border-radius: 15px;
}

.contact {
    height: 20vh;
    background-color: var(--tertiary-color);
}